.module {
    margin: 6px;
    /* width: 400px; */
    /* height: 250px; */
    border: 2px groove;
    border-radius: 4px;
    border-color: #303030;
    /* display: inline-table; */
    float: left;
    overflow: auto;
}

.module-wide {
    width: calc(100% - 14px);
}

.module-wide > table {
    width: 100%;
}

.margin-fit {
    float: left;
}

.module-container {
    padding: 0 6px 6px 6px;
}

.module-container-left {
    float: left;
}

.module-container-right {
    float: right;
}

table {
    border-collapse: collapse;
    width: auto;
}

th, td {
    text-align: left;
    padding: 6px;
}

.column-headers tr:nth-child(2) {
    font-weight: 600;
    color: #303030;
}

.row-headers tr td:nth-child(1) {
    font-weight: 600;
    color: #303030;
}

.alternating-rows tr:nth-child(odd) {
    background-color: #ddd;
}

th {
    background-color: #F99010;
    color: #303030;
}

.memory-inner {
    height: 100%;
    width: 0%;
    background-color: #F99010;
}

.memory-outer {
    background-color: #bbb;
    height: 16px;
}

.polyline-div {
    background-color: #fff;
    height: 100px;
    display: inline-block;
    margin: 4px;
    width: calc(100% / 4 - 4px * 4);
}

.polyline-td {
    background-color: #ddd;
    /* width: auto; */
    text-align: center;
}

.svg {
    height: 100%;
    width: 100%;
}

.polyline {
    fill: white;
    stroke: red;
    stroke-width: 2;
}

.module-form {
    position: relative;
    background: #fff;
}

.module-form-small {
    width: 300px;
}

.module-form > h1 {
    background-color: #F99010;
    color: #303030;
    font-size: 13px;
    line-height: 20px;
    padding: 6px;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 10px;
}

.module-form > form > input {
    margin: 4px;
}

.module-form > form > input[type=text] {
    float: left;
    /* width: calc(60% - 24px); */
}

.module-form > form > input[type=password] {
    float: left;
    /* width: calc(60% - 24px); */
}

.module-form > form > input[type=submit] {
    padding: 4px 20px;
    background: #ccc;
    border: 0 none;
    /* width: 100px; */
}

.module-form > form > input[type=submit]:enabled:hover {
    padding: 4px 20px;
    border: 0 none;
    cursor: pointer;
    color: #303030;
    background: #FF9900;
}

.highlight-on-hover tr:nth-child(n+3):hover {
    background-color: #B0C4DE;
}

.user-edit {

}

.user-delete {

}