/* Styles for the following pages:
    - Login
    - Request Access
*/

.login-container {
    padding: 7% 0 20px 0;
}

.login {
    position: relative;
    text-align: center;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    width: 280px;
    background: #fff;
}

.login > h1 {
    margin: -20px -20px 20px;
}

.login > h1 {
    line-height: 40px;
    font-size: 15px;
    font-weight: bold;
    color: #303030;
    background: #FF9900;
}

.login > form > input[type=text],
.login > form > input[type=password] {
    margin: 4px;
    width: 70%;
}

.login > form > input[type=submit] {
    padding: 4px 20px;
    background: #ccc;
    border: 0 none;
    cursor: pointer;
    width: 40%;
    margin: 6px;
}

.login > form > input[type=submit]:hover {
    padding: 4px 20px;
    border: 0 none;
    cursor: pointer;
    color: #303030;
    background: #FF9900;
}

.login-error {
    background-color: #303030;
    width: 280px;
    margin: 0 auto;
    text-align: center;
    padding: 8px 20px;
    max-height: 24px;
    color: #FF9900;
    font-weight: bold;

    overflow-y: hidden;

	transition-property: all;
	transition-duration: 0.5s;
	transition-timing-function: linear;

}

.slide-up {
    max-height: 0px;
    padding: 0px 20px;
}

.login-subtext {
    position: relative;
    text-align: center;
    margin: 0 auto;
    width: 200px;
}

.login-subtext > a,
.login-subtext > a:visited {
    color: #FF9900;
	text-decoration: underline;
	font-weight: bold;
}

.login-subtext > a:hover {
    color: #ccc;
}