html {
	height: 100%;
}

body {
    font: 13px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;
    color: #4045040;
    background-color: #222;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;
}

.extra-top {
    padding-top: 4px;
}

.ul-header {
    padding: 8px 8px 0px 8px;
}

.nav-top {
    position: absolute;
	background-color: #121518;
	color: #FFF;
	width: 100%;
	float: left;
	height: 40px;
}

.project-name,
.project-name:visited {
    float: left;
    margin-left: 9px;
    line-height: 40px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: #FFF;
}

.page-title {
    color: #333;
    margin-left: 8px;
}

.nav-top > ul {
	float: right;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.nav-top > ul > li {
    float: left;
    margin-top: 4px;
    margin-right: 8px;
}

.nav-top > ul > li > a {
	color: #FFF;
	margin-right: 12px;
	text-decoration: underline;
	font-weight: bold;
}

.nav-top > ul > li > form {
}

.nav-top > ul > li > form > input[type=submit] {
	padding: 4px 20px;
	background: #FFF;
	border: 0 none;
	cursor: pointer;
}

.nav-top > ul > li > form > input[type=submit]:hover {
	padding: 4px 20px;
	border: 0 none;
	cursor: pointer;
	color: #303030;
    background: #FF9900;
}

.nav-left {
    position: absolute;
	background-color: #222;
	color: #BBB;
	width: 200px;
	float: left;
	height: calc(100% - 50px);
	padding-top: 10px;
	top: 40px;
}

.nav-left > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #222;
}

.nav-left > ul > li {
}

.nav-left > ul > li > a {
	display: block;
	color: #fff;
	padding: 8px 0 8px 16px;
	font-weight: bold;
	text-decoration: none;
}

.nav-left > ul> li > a.active {
	background-color: #F99010;
	color: #303030;
	text-decoration: none;
}

.nav-left > ul> li > a:hover:not(.active) {
	background-color: #555;
	color: white;
}

.nav-left-upper {

}

.nav-left-lower {
    position: absolute;
    bottom: 20px;
    width: 200px;
}

.main {
    position: absolute;
    top: 40px;
    left: 200px;
	background-color: #FFF;
	float: left;
	width: calc(100% - 200px);
	min-height: calc(100% - 40px);
}

.input-with-validation {
    float: left;
}

.inline-form-validation {
    float: left;
    padding-left: 5px;
    margin-top: 8px;
    margin-bottom: 9px;
    padding-right: 5px;
}

.red {
    color: #CC3333;
}

.green {
    color: #009933;
}

.orange {
    color: #F99010;
}

.floating-form-gap {
    float: left;
    height: 16px;
    width: 100%;
}

.user-action {
    font-size: 20px;
    cursor: pointer;
}

/*
.user-action:hover {
    font-size: 24px;
}
*/

.user-action + .user-action {
    margin-left: 8px;
}