{% extends 'layout/main.html' %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
  <script src="{{ url_for('static', filename='js/dashboard.js') }}" type="text/javascript"></script>
{% endblock head %}

{% block content %}
  <div class="page-title">
      <h1>Dashboard</h1>
  </div>
{% endblock content %}