﻿<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
	    <script src="{{ url_for('static', filename='js/login.js') }}" type="text/javascript"></script>
	    <title>{{title}}</title>
	</head>
		
	<body>
		<section class="login-container">
            <div class="login">
              <h1>Intranet</h1>
              <form action="{{loginService}}" method="post" id="formLogin">
                <input type="text" name="username" value="" placeholder="Username">
                <input type="password" name="password" value="" placeholder="Password">
                <input type="submit" value="Login">
              </form>
            </div>
			{% if loginError %}
		    	<p class="login-error" id="login-error">{{loginError}}</p>
			{% endif %}
		</section>
        <section class="login-subtext-container">
            <div class="login-subtext">
                <a href="/request-access">Request Access</a>
            </div>
        </section>
	</body>
</html>