<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
	    <script src="{{ url_for('static', filename='js/login.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='js/users.js') }}" type="text/javascript"></script>
	    <title>{{title}}</title>
	</head>

    <body>
        <section class="login-container">
            <div class="login">
                <h1>Request Access</h1>
                <form action="http://service.intranet.dev/request-access" method="post" id="formRequestAccess">
                    <input id="first" class="input-with-validation" type="text" name="first" value="" placeholder="First Name">
                    <span id="first-validation" class="inline-form-validation"></span>
                    <input id="last" class="input-with-validation"  type="text" name="last" value="" placeholder="Last Name">
                    <span id="last-validation" class="inline-form-validation"></span>
                    <input id="email" class="input-with-validation"  type="text" name="email" value="" placeholder="Email Address">
                    <span id="email-validation" class="inline-form-validation"></span>
                    <div class="floating-form-gap"></div>
                    <input id="username" class="input-with-validation"  type="text" name="username" value="" placeholder="Username">
                    <span id="username-validation" class="inline-form-validation"></span>
                    <input id="password" class="input-with-validation"  type="password" name="password" value="" placeholder="Password">
                    <span id="password-validation" class="inline-form-validation"></span>
                    <input id="confirm" class="input-with-validation"  type="password" name="confirm" value="" placeholder="Confirm Password">
                    <span id="confirm-validation" class="inline-form-validation"></span>
                    <input type="submit" id="request-access-submit-button" disabled="disabled" value="Request">
                </form>
            </div>
            {% if requestError %}
		    	<p class="login-error" id="login-error">{{requestError}}</p>
			{% endif %}
        </section>
        <section class="login-subtext-container">
            <div class="login-subtext">
                <a href="/">Return to Login</a>
            </div>
        </section>
        {% if dialog %}
        <script>alert("{{ dialog }}");</script>
        {% endif %}
    </body>
</html>