{% extends 'layout/main.html' %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
  <script src="{{ url_for('static', filename='js/system.js') }}" type="text/javascript"></script>
{% endblock head %}

{% block content %}
  <div class="page-title">
      <h1>System</h1>
  </div>
  <div class="module-container">
      <div class="module module-wide">
          <table class="alternating-rows column-headers">
            <tr>
              <th colspan="100%">Host</th>
            </tr>
            <tr>
              <td>Name</td>
              <td>Platform</td>
              <td>Operating System</td>
              <td>IP Address</td>
              <td>MAC</td>
            </tr>
            <tr>
              <td>{{system.hostname}}</td>
              <td>{{system.platform}}</td>
              <td>{{system.platform}}, {{system.version}}</td>
              <td>{{system.active_ip}}</td>
              <td>{{system.mac}}</td>
            </tr>
          </table>
      </div>
      <div class="module module-wide">
        <table class="alternating-rows column-headers">
          <tr>
            <th colspan="100%">Processor</th>
          </tr>
          <tr>
            <td width="25%">Model</td>
            <td width="25%">Core Count</td>
            <td width="25%">Clock Speed</td>
            <td width="25%">Architecture</td>
          </tr>
          <tr>
            <td>{{system.cpu.model_name}}</td>
            <td>{{system.cpu.core_count}}</td>
            <td>{{system.cpu.max_clock}}</td>
            <td>{{system.architecture}}</td>
          </tr>
          <tr>
              <td colspan="100%" id="cpu-polyline-td" class="polyline-td">
                  <!--Look at the old code in previous versions-->
              </td>
          </tr>
        </table>
      </div>
      <div class="module module-fit">
        <table class="alternating-rows row-headers">
            <tr>
              <th colspan="100%">Memory</th>
            </tr>
            <tr>
              <td>Virtual</td>
              <td>0</td>
            </tr>
            <tr>
                <td colspan="2" id="memory-virtual-td">
                    <div class="memory-outer">
                        <div class="memory-inner"></div>
                    </div>
                </td>
            </tr>
            <tr>
              <td>Swap</td>
              <td>0</td>
            </tr>
            <tr>
                <td colspan="2" id="memory-swap-td">
                    <div class="memory-outer">
                        <div class="memory-inner"></div>
                    </div>
                </td>
            </tr>
        </table>
      </div>
      <div class="module module-fit">
          <table class="alternating-rows row-headers">
            <tr>
              <th colspan="100%">Partitions</th>
            </tr>
            {% for partition in system.partitions %}
              <tr id="partition-{{loop.index}}">
                <td>{{ partition.device }}</td>
                <td>{{ partition.mountpoint }}</td>
              </tr>
            {% endfor %}
          </table>
      </div>
  </div>
{% endblock content %}