<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="{{ url_for('static', filename='js/jquery-2.2.0.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/server.js') }}" type="text/javascript"></script>
</head>
<body>

<div id="container">
</div>
</body>
</html>