{% extends 'layout/main.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
<script src="{{ url_for('static', filename='js/users.js') }}" type="text/javascript"></script>
{% endblock head %}

{% block content %}
<div class="page-title">
    <h1>Users</h1>
</div>

<div class="module-container">
    <!-- <div class="module module-form module-form-small">
        <h1>Create User</h1>
        <form action="http://service.intranet.dev/create-user" method="post" id="formCreateUser">
            <input id="username" type="text" name="username" value="" placeholder="Username">
            <p id="username-validation" class="inline-form-validation"></p>
            <input id="password" type="password" name="password" value="" placeholder="Password">
            <p id="password-validation" class="inline-form-validation"></p>
            <input id="confirm" type="password" name="passwordConfirm" value="" placeholder="Confirm Password">
            <p id="confirm-validation" class="inline-form-validation"></p>
            <input type="submit" id="create-user-submit-button" disabled="disabled" value="Create">
        </form>
    </div> -->
    <div class="module module-fit">
        <table class="alternating-rows column-headers highlight-on-hover">
            <tr>
                <th colspan="100%">Existing Users</th>
            </tr>
            <tr>
                <td>Username</td>
                <td>First</td>
                <td>Last</td>
                <td>Email</td>
                <td>Group</td>
                <td>Modified</td>
                <td>Created</td>
                <td>Actions</td>
            </tr>
            {% for listUser in users %}
            <tr id="user-{{loop.index}}">
                <td>{{ listUser.Username }}</td>
                <td>{{ listUser.First }}</td>
                <td>{{ listUser.Last }}</td>
                <td>{{ listUser.Email }}</td>
                <td>{{ listUser.Group }}</td>
                <td>{{ listUser.Modified }}</td>
                <td>{{ listUser.Created }}</td>
                <td>
                    {% if not listUser.Username == "Admin" %}
                        {% if listUser.Group == "Pending" and user.group == "Administrator" %}
                            <span class="green user-action user-approve" title="Approve">&#x2714;</span>
                        {% endif %}
                        {% if user.group == "Administrator" or listUser.username == user.username %}
                            <span class="orange user-action user-edit" title="Modify">&#x270E;</span>
                        {% endif %}
                        {% if user.group == "Administrator" %}
                            <span class="red user-action user-delete" title="Delete">&#x2718;</span>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% if dialog %}
    <script>alert("{{ dialog }}");</script>
{% endif %}
{% endblock content %}