﻿<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	    {% block head %}
	    {% endblock %}
	    <title>{{title}}</title>
	</head>

    <body>
		<section class="nav-top">
			<a href="/" class="project-name">Intranet</a>
			<ul>
		  		<li class="extra-top"><a href="#">{{user.username}}</a></li>
		  		<li>
		  			<form action="http://service.intranet.local/logout" method="post">
		      			<input type="submit" value="Logout">
		  			</form>
		  		</li>
			</ul>
		</section>

		<section class="nav-left">
            <ul class="nav-left-upper">
                <li><a href="/dashboard" class="{{ 'active' if active == 'Dashboard' else 'inactive' }}">Dashboard</a></li>
                <li><a href="/system" class="{{ 'active' if active == 'System' else 'inactive' }}">System</a></li>
            </ul>
			<ul class="nav-left-lower">
				<li><a href="/users" class="{{ 'active' if active == 'Users' else 'inactive' }}">Users</a></li>
				<li><a href="/settings" class="{{ 'active' if active == 'Settings' else 'inactive' }}">Settings</a></li>
			</ul>
		</section>

		<section class="main">
	    	{% block content %}
	    	{% endblock %}
	    </section>
	</body>
</html>